<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portfolio || Website</title>
    <link rel="shortcut icon" href="/assets//favicon-32x32.png" type="image/x-icon">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- Header -->
   <header >
    <nav class="header" >
        <div class="header__nav" data-aos="fade-right"  data-aos-duration="500"><span>
            Kyrie.
        </span></div>
        <div class="header__content" data-aos="fade-down"data-aos-delay="200"data-aos-duration="500">
             <ul class="header__links">
                <li class="header__links-link">
                <a href="../index.html">About Me</a>
                </li><li class="header__links-link">
                <a href="./profile.html">Profile</a>
                </li><li class="header__links-link">
                <a href="./portfolio.html">Portfolio</a>
                </li><li class="header__links-link">
                <a href="./gallery.html">Gallery</a>
                </li><li class="header__links-link">
                <a href="./contact.html">Contact Me</a>
                </li>
            </ul>
        </div>
        
    </nav>
</header>

<!-- Contact -->
<div class="contact">
    <div class="contact__info" data-aos="fade-left" data-aos-delay="350" data-aos-duration="350">
        <p><span>Phone Number:</span>+250788888888</p>
        <p><span>Email:</span> tuyishimedurant@gmail.com</p>
        <p><span>Instagram</span> _@kyrie</p>
        <p><span>Twitter</span> _@kyrie</p>
        <p><span>Linkedin</span> tuyishimedurant</p>
    </div>
    <div class="contact__form">
        <h2>Contact Me</h2>
        <input type="email" name="email" id="email"   placeholder="Type Your Email." required/>
        <button>Send</button>
    </div>
    <div class="contact__footer">
        <p>@Copyright all rights reserved <span>Kyrie</span>2023.</p>
    </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../js/main.js"></script>
</body>
</html>