<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portfolio || Website</title>
    <link rel="shortcut icon" href="/assets//favicon-32x32.png" type="image/x-icon">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- Header -->
   <header >
    <nav class="header" >
        <div class="header__nav" data-aos="fade-right"  data-aos-duration="500"><span>
            Kyrie.
        </span></div>
        <div class="header__content" data-aos="fade-down"data-aos-delay="200"data-aos-duration="500">
             <ul class="header__links">
                <li class="header__links-link">
                <a href="../index.html">About Me</a>
                </li><li class="header__links-link">
                <a href="./profile.html">Profile</a>
                </li><li class="header__links-link">
                <a href="./portfolio.html">Portfolio</a>
                </li><li class="header__links-link">
                <a href="./gallery.html">Gallery</a>
                </li><li class="header__links-link">
                <a href="./contact.html">Contact Me</a>
                </li>
            </ul>
        </div>
        <div class="header__button" data-aos="fade-left"data-aos-delay="300"data-aos-duration="500">
            <button>
                 <a href="./contact.html">Get in Touch</a>
            </button>
        </div>
    </nav>
</header>
<div class="track">
<div class="skills">
    <div class="skills__table" data-aos="flip-up" data-aos-duration="350" data-aos-delay="350">
        <table  cellspacing="3" border>
  <tr class="title">
    <td class="column">Technologies</td>
    <td class="column">Level</td>
    <td class="column">Rate</td>
  </tr>
  <tr>
    <td>HTML5</td>
    <td>Mastery</td>
    <td>9/10</td>
  </tr>
  <tr>
    <td>CSS3</td>
    <td>Mastery</td>
    <td>9/10</td>
  </tr>
  <tr>
    <td>JAVASCRIPT</td>
    <td>Mastery</td>
    <td>8/10</td>
  </tr>
  <tr>
    <td>REACT</td>
    <td>Mastery</td>
    <td>8/10</td>
  </tr>
  <tr>
    <td>Tailwind</td>
    <td>Mastery</td>
    <td>9/10</td>
  </tr>
  <tr>
    <td>NOSQL</td>
    <td>intermediate</td>
    <td>7/10</td>
  </tr>
  <tr>
    <td>GIT</td>
    <td>Mastery</td>
    <td>9/10</td>
  </tr>
  <tr>
    <td>LINUX</td>
    <td>intermediate</td>
    <td>7/10</td>
  </tr>
</table>
    </div>
    <!-- <hr /> -->
</div>
<div class="skills__stack">
    <img src="../assets/skills//html.png" alt="" >
    <img src="../assets/skills//css1.png" alt="">
    <img src="../assets/skills//javascript.png" alt="">
    <img src="../assets/skills//react.svg" alt="">
    <img src="../assets/skills//next1.png" alt="">
    <img src="../assets/skills//redux1.png" alt="">
    <img src="../assets/skills//tailwind1.png" alt="">
    <img src="../assets/skills//typescript.png" alt="">
    <img src="../assets/skills//wordpress1.png" alt="">
    <img src="../assets/skills//firebase1.jpg" alt="">
    <img src="../assets/skills//github1.png" alt="">

</div>
</div>
<div class="projects">
    <h2>Projects</h2>
    <div class="cards">
        <img src="../assets/slides/03e8d463fa0122f2cf09bc3a705163b1.jpg" alt="" class="card__img">
        <img src="../assets/slides/4aa6c2bb1ce8297cb649afcd4a532e34.jpg" alt="" class="card__img">
        <img src="../assets/slides/original-18a59eb28b50db106e93f3aefffca4fb.png" alt="" class="card__img">
        <img src="../assets/slides/original-a659016a8380f58ada54a2a3fc5408d6.jpg" alt="" class="card__img">
        <img src="../assets/slides/original-a774b9ae0694b6fdaa10d29ce7391d73.png" alt="" class="card__img">
        <img src="../assets/slides/still-70857726eee33ea525bc5bf59fc9aaf2.webp" alt="" class="card__img">
    </div>
</div>

<div class="contact__footer">
        <p>@Copyright all rights reserved <span>Kyrie</span>2023.</p>
    </div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../js/main.js"></script>
</body>
</html>