<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portfolio || Website</title>
    <link rel="shortcut icon" href="/assets//favicon-32x32.png" type="image/x-icon">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- Header -->
 <header >
    <nav class="header" >
        <div class="header__nav" data-aos="fade-right"  data-aos-duration="500"><span>
            Kyrie.
        </span></div>
        <div class="header__content" data-aos="fade-down"data-aos-delay="200"data-aos-duration="500">
             <ul class="header__links">
                <li class="header__links-link">
                <a href="../index.html">About Me</a>
                </li><li class="header__links-link">
                <a href="./profile.html">Profile</a>
                </li><li class="header__links-link">
                <a href="./portfolio.html">Portfolio</a>
                </li><li class="header__links-link">
                <a href="./gallery.html">Gallery</a>
                </li><li class="header__links-link">
                <a href="./contact.html">Contact Me</a>
                </li>
            </ul>
        </div>
        <div class="header__button" data-aos="fade-left"data-aos-delay="300"data-aos-duration="500">
            <button>
                 <a href="./contact.html">Get in Touch</a>
            </button>
        </div>
    </nav>
</header>

<!-- Content -->
<div class="content">
    <h2 data-aos="fade-down" data-aos-duration="400" data-aos-delay="320">Hello 👋</h2>
    <h1 data-aos="fade-right" data-aos-duration="400" data-aos-delay="350">I am by the names of <span>Kyrie</span> and I am a software engineer.</h1>
    <p data-aos="fade-left" data-aos-duration="400" data-aos-delay="360">
    I am a passionate software engineer with over 2 years of hands-on experience in web and Native app development. Despite still pursuing my Bachelor's degree in Computer Science at the University of Central, I've honed my skills and expertise in languages such as JavaScript, C, and Java. My journey has led me to contribute to a diverse array of projects, ranging from the creation of e-commerce websites to the development of Native mobile applications. 

    I hold a Bachelor's degree in Computer Science from the University of Central, and I'm committed to continuous learning, ensuring that I remain at the forefront of the ever-evolving tech landscape. Staying up-to-date with the latest industry trends is my passion, and I'm enthusiastic about applying this knowledge to every project I undertake.

    Beyond coding, I'm an avid basketball enthusiast and dedicated to my fitness regimen. In my free time, I enjoy experimenting with new coding projects, turning innovative ideas into practical solutions.
</p>
</div>

<div class="photoSection">
    <div class="photoimg">
        <img class="img" src="../assets/A.jpg" alt="">
    </div>
    <div class="photo__info">
        <p>Status: Software Engineer</p>
        <p>Experience: 2 years</p>
        <p>Location: Kigali,Rwanda</p>
    </div>
</div>

<div class="contact__footer">
        <p>@Copyright all rights reserved <span>Kyrie</span>2023.</p>
    </div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../js/main.js"></script>
</body>
</html>