.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0 0 0;
    gap: 1.5rem;
}
.gallery img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: .5rem;
}

@media screen and (max-width: 800px){
    .gallery {
        margin: 2rem 0 0 0;
        gap: .5rem;
    }
    .gallery img {
        width: 10vw;
        height: 10vh;
    } 
}