.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #334155;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    right:0;
    width: 22rem;
    height: 6.5rem;
    border-radius: 1rem 1rem 2rem 2rem ;
    background-color: #8b5cf6;
    z-index: -1;
    filter: blur(160px);
}
.header__nav span{
font-size: 2.5rem;
font-weight: bold;
}

.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header__links {
    display: flex;
}   
.header__links-link a {
    padding:  .5rem  .5rem;
    list-style:none;
    font-size: 1.2rem;
    color: #e0e7ff;
    text-decoration: none;
    transition: all .15s ease-in-out;
}
.header__links-link{
    padding:  .5rem  .5rem;
    list-style:none;
    font-size: 1.2rem;
    color: #e0e7ff;
    transition: all .15s ease-in-out;
}
.header__links-link:hover{
    padding:  .5rem  .5rem;
    border-bottom: 1px solid #f8fafc;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.header__button button {
padding: 1rem 2rem;
border-radius: 4rem;
font-size: 1rem;
border:none;
background: linear-gradient(to right,#ec4899,#7c3aed);
transition: all .15s ease-in-out;
color: #fff;
}
.header__button button:hover {
    cursor: pointer;
    color: #fff;
    border-color: #172554;
    background: linear-gradient(to right,#be185d,#6d28d9);
}


.header__button button span{
    font-size: 1rem;
    font-weight: bold;
}

@media  screen and (max-width: 850px){
    .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .5rem 1rem .5rem;
    /* position: relative; */
    /* z-index: 1; */
    /* border-bottom: 1px solid #334155; */
}
.header__button {
    display: none;
}
.header__nav span{
font-size: 2rem;
font-weight: bold;
}
.header__links {
    padding: 1rem  0 0 0;
    flex-wrap: wrap;
}
.header__links-link{
    padding:  .5rem  .5rem;
    list-style:none;
    font-size: .1rem;
    color: #e0e7ff;
    transition: color .5s ease-in-out;
}
}