.track {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.skills__table table {
    border-spacing: 3;
    /* border: 1px solid red; */
    /* padding: 12rem; */
}
.column{
    padding: 1.2rem;
}
table tr{
    padding: 3rem;
}
.skills h2 {
    border-bottom: 1px solid #ccc;
    padding: 2rem  0 0 0;
}
.skills__stack {
    /* width: 60px; */
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1rem;
}
.skills__stack img{
    /* padding: 0 1.4rem; */
    width: 50px;
}
.projects h2 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 2rem  0 1.5rem 0;
}
.cards {
    padding: 2rem 0;
    /* transform: translateX(-5%);
     */
     animation: slide 100ms ease-in-out;
}
@keyframes slide{
    0%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(-25%);
    }
}
.cards img {
width: 14.5rem;
height: 14.5rem;
margin: 0 1rem 0 1rem;
}